* {                 /*this is to change browsers default setting */
  margin: 0px;
  padding: 0px;
}

.my-style {
  background-color: #C4D7B2;     /*background-color is for background color*/
  color: #17594A;             /*color is for text color*/
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; */
  /* all theh margins are of same px so we can write as  */
  margin: 5%;
  /* display:none; -hides the content */
  /* display:block; -it is default shows as block */

}
